/* CAPA GLITCH GLOBAL */
.glitch-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    background: repeating-linear-gradient(
        0deg,
        rgba(255,255,255,0.03) 0px,
        rgba(0,0,0,0.05) 2px,
        transparent 4px
    );
    mix-blend-mode: overlay;
    animation: glitchMove 0.2s infinite;
    z-index: 999;
}

@keyframes glitchMove {
    0% { transform: translate(0,0); }
    25% { transform: translate(1px,-1px); }
    50% { transform: translate(-1px,1px); }
    75% { transform: translate(1px,1px); }
    100% { transform: translate(0,0); }
}

/* FLASH ALEATORIO */
.flash {
    position: fixed;
    width: 100%;
    height: 100%;
    background: white;
    opacity: 0;
    pointer-events: none;
    z-index: 998;
}

/* PANTALLA ROTA */
.crack {
    position: fixed;
    width: 100%;
    height: 100%;
    background: url('https://i.imgur.com/8yKXslC.png') center/cover no-repeat;
    opacity: 0.15;
    pointer-events: none;
    z-index: 997;
    mix-blend-mode: screen;
}
.floating-img {
    position: absolute;
    width: clamp(90px, 12vw, 160px);
    opacity: 0.6;
    transition: transform 0.4s ease, opacity 0.3s, filter 0.3s;
    filter: grayscale(100%);
    cursor: pointer;
    z-index: 1;
    transform-origin: center;
}

/* imagen seleccionada */
.floating-img.active {
    transform: scale(1.3);
    opacity: 1;
    filter: grayscale(0%) contrast(130%);
    z-index: 10;
    box-shadow: 0 0 25px rgba(255,0,0,0.6);
}

/* las otras bajan */
.floating-img.dim {
    opacity: 0.25;
    transform: scale(0.95);
}
